.months-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #f1f5f5;
  &__item {
    text-align: center;
    width: 30vh;
    padding: 1.5vh;
    border-radius: 50px;
    align-self: center;
    color: white;
    &:hover {
      //opacity: 0.8;
    }
    &:hover &__title {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}